.navbar {
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%; 
    background: white;
    border-bottom: lightslategrey;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
  
.navbar a {
    float: left;
    display: block;
    color: gray;
    position: relative;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
    padding: 11px 16px;
    text-decoration: none;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}
  
.Body {
    margin-top: 55px; 
}  

img {
    width: 20px;
}

