h1 {
    color: blueviolet;
}
.navigation {
    position: relative;
    width: 500px;
    height: 165px;
    margin-left: 465px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 0px;
    background: white;
    border-width: 1px;
    border-style: solid;
    border-radius: 12px;
}